.main{
    text-align: center;
}
h1{
    color: #2c3f50;
    font-size: 3rem;
}
h2{
    color: #40a88f;
    font-size: 2.5rem;
}
ol {
    margin-left: 18rem;
}
li{
    color: #2c3f50;
    font-size: 1.5rem;
    list-style: none;
    text-align: start;
}